* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0 5vw;
}

.structure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4vw;
  margin: 5vw;
  text-align: center;
}

.img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theory {
  width: 95%;
  /* height: 50vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 5vw;
}

.theory span {
  font-weight: 400;
  background-color: rgb(255, 235, 168);
  padding: 0 1vw;
}

.theory p {
  font-size: 2vw;
}

.structure .img img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

model-viewer {
  width: 80vw;
  height: 100vh;
  background-color: black;
  border-radius: 20px;
}
